h2{color: yellow;}
body{
	outline-style: dotted;outline-color: yellow;
	font-family:"Courier New", Courier, monospace;
	background-image: url("c.jpg");
}
 
.r{
	font-family: verdana
}
#h{
	border-radius: 50%;
	}
.1{
	border-radius: 20%;
	}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255,255,255,0.5);
	position: fixed;
    top: 0;
    width: 100%;

}

li {
    float: left;
	
}

li a  {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	border-right: 1px solid #111;
}

li a:hover{
 background-color: yellow;}
 
 #content2{
	 margin-top: 100px;
	 color:blue;
 }
